# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=university_event_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/university_event_db?schema=public"

# API Configuration
PORT=3001

# Web Configuration
NEXT_PUBLIC_API_URL="http://localhost:3001"
